<div class="main-container">
  <div class="ui-g-12 ui-md-12 ui-lg-6">
    <cv-contact-item [iconName]="'envelope'" [value]="'oleksandr.i.savych@gmail.com'" ></cv-contact-item>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-6">
    <cv-contact-item [iconName]="'phone'" [value]="'+38 (063) 584 77 00'" ></cv-contact-item>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-6">
    <cv-contact-item [iconName]="'map-marker'" [value]="'Kyiv, Ukraine'" ></cv-contact-item>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-6">
    <cv-contact-item [iconName]="'link'" [value]="'www.google.com'" ></cv-contact-item>
  </div>

</div>
