<div class="main-container">
  <!--Contacts-->
  <div class="contacts-info">
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <cv-info-row *ngFor="let contact of contactDataLocalizationKeys.leftBlock"
                   [data]="{label: 'rightPanel.about.contacts.'+contact+'.label',
                            value: 'rightPanel.about.contacts.'+contact+'.value'}"></cv-info-row>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <cv-info-row *ngFor="let contact of contactDataLocalizationKeys.rightBlock"
                   [data]="{label: 'rightPanel.about.contacts.'+contact+'.label',
                            value: 'rightPanel.about.contacts.'+contact+'.value'}"></cv-info-row>
    </div>
  </div>
  <!--End contacts-->
</div>
