.main-container {
  background-color: #ffffff;
  padding-right: 30px;
  padding-left: 10px;
  display: flow-root;
}

.contacts-info {
  display: flow-root;
  margin: 10px 0 10px 0;
  div {
    padding: 0;
  }
}
