<div class="main-container">
  <p-panel header="Design">
    <cv-dynamic-progress [maxValue]="64" [label]="'Photoshop'"></cv-dynamic-progress>
  </p-panel>
  <p-panel header="Coding">
    <cv-dynamic-progress [maxValue]="15" [label]="'Javascript'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="80" [label]="'HTML'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="34" [label]="'CSS3'"></cv-dynamic-progress>
  </p-panel>
  <p-panel header="Project management">
    <cv-dynamic-progress [maxValue]="44" [label]="'Scrum'"></cv-dynamic-progress>
  </p-panel>
  <p-panel header="Assets">
    <cv-dynamic-progress [maxValue]="59" [label]="'Creative'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="33" [label]="'HTML'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="67" [label]="'HTML'"></cv-dynamic-progress>
  </p-panel>
  <p-panel header="Languages">
    <cv-dynamic-progress [maxValue]="97" [label]="'Ukrainian'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="90" [label]="'Russian'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="75" [label]="'English'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="30" [label]="'German'"></cv-dynamic-progress>
  </p-panel>
</div>
