<div class="main-container">
  <p-panel header="Design">
    <cv-dynamic-progress [maxValue]="59" [label]="'Photoshop'"></cv-dynamic-progress>
  </p-panel>
  <p-panel header="Coding">
    <cv-dynamic-progress [maxValue]="15" [label]="'Javascript'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="80" [label]="'HTML'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="34" [label]="'CSS3'"></cv-dynamic-progress>
  </p-panel>
  <p-panel header="Project management">
    <cv-dynamic-progress [maxValue]="44" [label]="'Scrum'"></cv-dynamic-progress>
  </p-panel>
  <p-panel header="Assets">
    <cv-dynamic-progress [maxValue]="59" [label]="'Creative'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="33" [label]="'HTML'"></cv-dynamic-progress>
    <cv-dynamic-progress [maxValue]="67" [label]="'HTML'"></cv-dynamic-progress>
  </p-panel>
  <p-panel header="Languages">
    <div class="bar-list">
      <cv-circle-progress-bar [barValue]="97" [label]="'Ukrainian'"></cv-circle-progress-bar>
      <cv-circle-progress-bar [barValue]="90" [label]="'Russian'"></cv-circle-progress-bar>
      <cv-circle-progress-bar [barValue]="75" [label]="'English'"></cv-circle-progress-bar>
      <cv-circle-progress-bar [barValue]="25" [label]="'German'"></cv-circle-progress-bar>
    </div>
  </p-panel>
  <p-panel header="Plans">
    Roadmap
  </p-panel>
</div>
