<div class="main-container">
  <p-panel header="Design">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="59" [label]="'Photoshop'"></cv-dynamic-progress>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="20" [label]="'Adobe'"></cv-dynamic-progress>
      </div>
    </div>
  </p-panel>
  <p-panel header="Coding">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="15" [label]="'Javascript'"></cv-dynamic-progress>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="80" [label]="'HTML'"></cv-dynamic-progress>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="34" [label]="'CSS3'"></cv-dynamic-progress>
      </div>
    </div>
  </p-panel>
  <p-panel header="Project management">
    <div class="ui-g">
      <div *ngFor="let a of ['Scrum', 'Kanban', 'Agile']" class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="44" [label]="a"></cv-dynamic-progress>
      </div>
    </div>
  </p-panel>
  <p-panel header="Assets">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="59" [label]="'Creative'"></cv-dynamic-progress>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="33" [label]="'HTML'"></cv-dynamic-progress>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-dynamic-progress [maxValue]="67" [label]="'HTML'"></cv-dynamic-progress>
      </div>
    </div>
  </p-panel>
  <p-panel header="Languages">
    <div class="bar-list ui-g">
      <div class="ui-g-6 ui-md-6 ui-lg-3">
        <cv-circle-progress-bar [barValue]="97" [label]="'Ukrainian'"></cv-circle-progress-bar>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-3">
        <cv-circle-progress-bar [barValue]="90" [label]="'Russian'"></cv-circle-progress-bar>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-3">
        <cv-circle-progress-bar [barValue]="75" [label]="'English'"></cv-circle-progress-bar>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-3">
        <cv-circle-progress-bar [barValue]="20" [label]="'German'"></cv-circle-progress-bar>
      </div>
    </div>
  </p-panel>
  <p-panel header="Plans">
    Roadmap
  </p-panel>
</div>
