.main-container {
  background-color: #ffffff;
  padding: 10px;
  p-panel {
    margin-top: 15px;
    display: block;
  }
  cv-dynamic-progress {
    margin-top: 10px;
    display: block;
  }
}

.bar-list {
  display: flex;
  justify-content: space-around;
}
