<div class="testimonial-container">
  <figure>
    <img src="../../../../assets/img/testimonials/osh.jpg" alt=""/>
  </figure>
  <div>
    <div class="block-panel">
      <div>
        <cv-block-title [title]="'Name'" [iconName]="'user'"></cv-block-title>
        <p class="uppercase-name">Oleksandr Savych</p>
      </div>
      <div>
        <cv-block-title [title]="'Position'" [iconName]="'briefcase'"></cv-block-title>
        <p class="uppercase-name">CEO</p>
      </div>
    </div>
    <p class="feedback block-text">
      Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore
      veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
  </div>
</div>
