@import "../../../../styles/variables";

.testimonial-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

img {
  max-width: 90px;
  margin-right: 10px;
  display: block;
  border: 2px solid $cl_colorful;
}

.feedback {
  margin-top: 15px;
}

