<div class="testimonial-container">
  <figure>
    <img [src]="'../../../../assets/img/testimonials/'+ personKey + '.jpg'" alt=""/>
  </figure>
  <div class="testimonial-text">
    <div class="block-panel">
      <div>
        <cv-block-title [title]="'rightPanel.about.testimonials.name' | translate" [iconName]="'user'"></cv-block-title>
        <p class="uppercase-name">{{'rightPanel.about.testimonials.' + personKey + '.name' | translate}}</p>
      </div>
      <div>
        <cv-block-title [title]="'rightPanel.about.testimonials.position' | translate"
                        [iconName]="'briefcase'"></cv-block-title>
        <p class="uppercase-name">{{'rightPanel.about.testimonials.' + personKey + '.position' | translate}}</p>
      </div>
    </div>
    <p class="feedback block-text">
      {{'rightPanel.about.testimonials.' + personKey + '.testimonial' | translate}}
    </p>
  </div>
</div>
