@import "../../../styles/variables";
@import "../../../styles/styles";

$menu_item_height: 30px;

@mixin menu_item {
  @extend .flex-center;
  background-color: $cl_dark;
  color: $cl_bright_text;
  text-transform: uppercase;
  height: $menu_item_height;
  border-top: 2px solid $cl_border_dark;
  border-bottom: 2px solid $cl_border_dark;
}

.my-name {
  @include menu_item;
  justify-content: center;
}

img {
  max-width: 100%;
  display: block;
}

.main-navigation-menu {
  .menu-navigation-item {
    @include menu_item;
    justify-content: space-between;
    padding: 0 5% 0 10%;
    &:hover {
      @extend .button-active-hover;
      font-weight: $fw_level2;
      letter-spacing: 2px;
    }
  }
  .menu-navigation-item.active {
    @extend .button-active;
  }
}

.social {
  background-color: $cl_dark;
  height: $menu_item_height;
  @extend .flex-center;
  > div {
    @extend .flex-center;
    justify-content: center;
    width: 100%;
    border: 2px solid $cl_border_dark;
    border-bottom-color: $cl_border_bright;
    color: $cl_bright_text;
    font-size: x-large;
    &:hover {
      @extend .button-active-hover;
    }
  }
}

