figure {
  img {
    max-width: 100%;
    display: block;
  }
}

.my-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33373d;
  color: #ffff;
  height: 50px;
  text-transform: uppercase;
  border-bottom: 1px solid #26292e;
}

.main-navigation-menu {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15% 0 15%;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      @extend .active;
      cursor: pointer;
    }
  }
  .menu-navigation-item.active {
    @extend .active;
  }
  .menu-navigation-item {
    background-color: #33373d;
    color: #ffff;
    border-top: 2px solid #26292e;
    border-bottom: 2px solid #26292e;
  }
}

.active {
  background-color: #065e52;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.footer {
  > .social {
    background-color: #33373d;
    height: 50px;
    display: flex;
    > div {
      width: 100%;
      height: 100%;
      border: 2px solid #33373d;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffff;
      font-size: x-large;
      text-decoration: none;
      &:hover {
        @extend .active;
        cursor: pointer;
      }
    }
  }
}
