<div>
  <div class="content">
    <div class="my-name">{{'leftPanel.name' | translate}}</div>
    <!--Profile image-->
    <figure>
      <img src="../../../assets/img/profile.jpg" alt=""/>
    </figure>
    <!--End profile image-->
    <!--Main navigation-->
    <div class="main-navigation-menu">
      <div class="menu-navigation-item" [routerLink]="['/about']" [routerLinkActive]="['active']">
        <i class="fa fa-user"></i>
        <span>{{'leftPanel.about' | translate}}</span>
      </div>
      <div class="menu-navigation-item" [routerLink]="['/skills']" [routerLinkActive]="['active']">
        <i class="fa fa-wrench"></i>
        <span>{{'leftPanel.skills' | translate}}</span>
      </div>
      <div class="menu-navigation-item" [routerLink]="['/experience']" [routerLinkActive]="['active']">
        <i class="fa fa-briefcase"></i>
        <span>{{'leftPanel.experience' | translate}}</span>
      </div>
      <div class="menu-navigation-item" [routerLink]="['/education']" [routerLinkActive]="['active']">
        <i class="fa fa-university"></i>
        <span>{{'leftPanel.education' | translate}}</span>
      </div>
      <div class="menu-navigation-item" [routerLink]="['/contacts']" [routerLinkActive]="['active']">
        <i class="fa fa-phone"></i>
        <span>{{'leftPanel.contacts' | translate}}</span>
      </div>
      <div class="menu-navigation-item" (click)="downloadPDF()">
        <i class="fa fa-download"></i>
        <span>{{'Download CV' | translate}}</span>
      </div>
      <div class="menu-navigation-item" (click)="openPDF()">
        <i class="fa fa-eye"></i>
        <span>{{'Open CV' | translate}}</span>
      </div>
    </div>
    <!--End main navigation-->
  </div>
  <!--Footer-->
  <div class="footer">
    <div class="social">
      <div (click)="openSocial('linkedin')"><i class="fa fa-linkedin"></i></div>
      <div (click)="openSocial('github')"><i class="fa fa-github"></i></div>
      <div (click)="openSocial('facebook')"><i class="fa fa-facebook"></i></div>
      <div (click)="openSocial('instagram')"><i class="fa fa-instagram"></i></div>
    </div>
  </div>
  <!--End footer-->
</div>
