figure {
  img {
    max-width: 100%;
    display: block;
  }
  figcaption {
    position: absolute;
    top: 12%;
    left: -3%;
    color: white;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    background: -moz-linear-gradient(left, rgba(51,55,61,1) 0%, rgba(51,55,61,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,55,61,1)), color-stop(100%,rgba(51,55,61,0)));
    background: -webkit-linear-gradient(left, rgba(51,55,61,1) 0%,rgba(51,55,61,0) 100%);
    background: -o-linear-gradient(left, rgba(51,55,61,1) 0%,rgba(51,55,61,0) 100%);
    background: -ms-linear-gradient(left, rgba(51,55,61,1) 0%,rgba(51,55,61,0) 100%);
    background: linear-gradient(to left, rgba(51,55,61,1) 0%,rgba(51,55,61,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33373d', endColorstr='#0033373d',GradientType=0 );
  }
}

.main-navigation-menu {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33373d;
    color: #ffff;
    height: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid #26292e;
    padding: 0 15% 0 15%;
    &:hover {
      background-color: #065e52;
      cursor: pointer;
      font-weight: 600;
    }
  }
}

.footer {
  background-color: #ffffff;
  > .social {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    > div {
      // background-color: green;
      > a {
        text-align: center;
        text-decoration: none;
      }
    }
  }
  > p {
    text-align: right;
    padding-right: 5px;
  }
}
