<div>
  <div class="content">
    <!--Profile image-->
    <figure>
      <img src="../../../assets/img/profile.jpg" alt=""/>
      <figcaption>
        <span>Oleksandr Savych<sup>&reg;</sup></span>
      </figcaption>
    </figure>
    <!--End profile image-->
    <!--Main navigation-->
    <div class="main-navigation-menu">
      <div>
        <i class="fa fa-user"></i>
        <span>about</span>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <span>contact</span>
      </div>
    </div>
    <!--End main navigation-->
  </div>
  <!--Footer-->
  <div class="footer">
    <div class="social">
      <div><a href="#"><i class="fa fa-linkedin"></i></a></div>
      <div><a href="#"><i class="fa fa-facebook"></i></a></div>
      <div><a href="#"><i class="fa fa-instagram"></i></a></div>
    </div>
    <p>&copy; 2018</p>
  </div>
  <!--End footer-->
</div>
