<div class="content">
  <div class="my-name">{{'leftPanel.name' | translate}}</div>
  <cv-profile-image></cv-profile-image>
  <div class="main-navigation-menu">
    <div *ngFor="let menuItem of menuItems" class="menu-navigation-item"
         [routerLink]="['/' + menuItem.name]" [routerLinkActive]="['active']">
      <i [class]="'fa fa-' + menuItem.iconName"></i>
      <span>{{'leftPanel.' + menuItem.name | translate}}</span>
    </div>
  </div>
  <div class="social">
    <div *ngFor="let socialNetwork of socialNetworks"
         (click)="openSocial(socialNetwork.link)"><i [class]="'fa fa-' + socialNetwork.name"></i></div>
  </div>
</div>
