<div class="main-container">
  <div class="ui-g-3 ui-md-3 ui-lg-2">
    <cv-period-item [from]="'Sep 2014'" [to]="'Aug 2018'"></cv-period-item>
  </div>
  <div class="no-padding-block ui-g-1 ui-md-1 ui-lg-1">
    <cv-period-divider></cv-period-divider>
  </div>
  <div class="ui-g-8 ui-md-8 ui-lg-9">
    <div class="block-panel">
      <div>
        <cv-block-title [title]="'Position'" [iconName]="'briefcase'"></cv-block-title>
        <p class="uppercase-name">Web developer</p>
      </div>
      <div>
        <cv-block-title [title]="'Company'" [iconName]="'building'"></cv-block-title>
        <p class="uppercase-name">Terrasoft</p>
      </div>
    </div>
    <div>
      <cv-block-title [title]="'Responsibilities'" [iconName]="'list'"></cv-block-title>
      <p class="block-text">
        Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo
      </p>
      <cv-block-title [title]="'Technologies'" [iconName]="'wrench'"></cv-block-title>
      <p class="block-text">
        Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo
      </p>
    </div>
  </div>
</div>
