@import "variables";

.ui-progressbar {
  height: 15px;
}

.ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
  background-color: $cl_colorful;
}
.ui-progressbar.ui-widget-content {
  background-color: $cl_content;
  border: 1px solid $cl_content;
}

.ui-scrollpanel-content {
  height: calc(100vh - 101px);
}

.ui-panel-title,
.ui-carousel .ui-carousel-header .ui-carousel-header-title {
  text-transform: uppercase;
  font-weight: $fw_level2;
}

.ui-carousel {
  padding: 0;
  .ui-carousel-header {
    padding: .4em .75em .1em .4em;
    margin: 0;
  }
}

.ui-widget-content{
  border: 0;
}

.ui-corner-all {
  border-radius: 0;
}

