:root {
  --background-color: #1d1c25;
  --font-size: 20px;
  --line-height: 18px;
}

* {
  font-family: 'open_sansbold',Arial,sans-serif;
  font-size: var(--font-size);
}

body {
  background-color: #efefef;
}
