@import "variables";

body {
  background-color: $cl_content;
}

// container
.right-panel-container {
  display: flow-root;
  background-color: $cl_container;
  padding: 10px;
  max-height: calc(100vh - 101px);
  overflow-y: scroll;
}

.additional-panel {
  margin: 0 5px 15px 0;
  display: block;
  border: 0.05em solid $cl_colorful;
}

.block-panel {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
}

.no-padding-block {
  padding: 0;
}


// title
.uppercase-name {
  text-transform: uppercase;
  font-size: $fz_medium;
}

// paragraph
.block-text {
  color: $cl_paragraph_text;
  font-size: $fz_medium;
  text-align: justify;
}

// button
button {
  color: $cl_container;
  border-top: 2px solid $cl_dark;
  border-bottom: 2px solid $cl_dark;
  background-color: $cl_dark;
  &:hover {
    @extend .button-active-hover;
  }
  &:focus {
    background-color: $cl_colorful;
    outline-width: 0;
  }
  i {
    width: 25px;
  }
}

.button-active {
  border-top: 2px solid $cl_border_bright;
  border-bottom: 2px solid $cl_border_bright;
  background-color: $cl_colorful;
}

.button-active-hover {
  @extend .button-active;
  cursor: pointer;
  transition-duration: $transition-duration;
}

// custom components
cv-period-divider {
  display: flex;
  height: 100%;
  justify-content: center;
}
