@import "variables";

body {
  background-color: $cl_content;
}

// container
.right-panel-container {
  display: flow-root;
  background-color: $cl_container;
  padding: 10px;
  max-height: calc(100vh - 101px);
  overflow-y: scroll;
}

.additional-panel {
  margin: 0 5px 15px 0;
  display: block;
  border: 0.05em solid $cl_colorful;
}

.block-panel {
  display: flex;
  justify-content: space-between;
}

.period-container-border {
  border-top: 1px solid $cl_colorful;
}

.flex-center {
  display: flex;
  align-items: center;
}

.no-padding-block {
  padding: 0;
}


// title
.uppercase-name {
  text-transform: uppercase;
  font-size: $fz_medium;
}

// paragraph
.block-text {
  color: $cl_paragraph_text;
  font-size: $fz_large;
  text-align: justify;
}

// button
button {
  color: $cl_container;
  border-top: 2px solid $cl_dark;
  border-bottom: 2px solid $cl_dark;
  background-color: $cl_dark;
  &:hover {
    @extend .button-active-hover;
  }
  &:focus {
    background-color: $cl_colorful;
    outline-width: 0;
  }
  i {
    width: 25px;
  }
}

.button-active {
  border-top: 2px solid $cl_border_bright;
  border-bottom: 2px solid $cl_border_bright;
  background-color: $cl_colorful;
}

.button-active-hover {
  @extend .button-active;
  cursor: pointer;
  transition-duration: $transition-duration;
}

// custom components
cv-period-divider {
  display: flex;
  height: 100%;
  justify-content: center;
}

cv-check-item, cv-contact-item {
  .icon-container {
    color: $cl_container;
    padding: 10px;
    background-color: $cl_colorful;
    transition-duration: $transition-duration;
    &:hover {
      cursor: pointer;
      color: $cl_colorful;
      background-color: $cl_container;
      transition-duration: $transition-duration;
    }
    i {
      width: 20px;
      height: 20px;
      text-align: center
    }
  }

  .value-container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: $fz_medium;
    background-color: $cl_content;
    color: $cl_colorful;
    text-transform: uppercase;
    span {
      width: 100%;
      text-align: center;
    }
  }
}

cv-circle-progress-bar,
cv-dynamic-progress {
  .label {
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
  }
}
