.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
span {
  display: inline-block;
  width: 10px;
}
.vertical-line {
  height: 100%;
  margin-top: 5px;
  background: linear-gradient(#33373d, #065e52, #ffffff);
}
