.main-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 30px 10px 30px;
}

img {
  max-width: 110px;
  margin-right: 10px;
  display: block;
  border: 2px solid #065e52;
}

.feedback {
  margin-top: 15px;
}

