<!--<button (click)="authService.logout()">logout</button>-->
<cv-language-switcher></cv-language-switcher>

<!--
<button (click)="setLanguage('ua')">ua</button>
<button (click)="setLanguage('en')">en</button>
<button (click)="setLanguage('de')">de</button>
<p>{{'test' | translate}}</p>

<p-slider [(ngModel)]="slideValue" [animate]="true" [style]="{'width':'200px'}"
          [min]="60" [max]="140" [step]="20" (onChange)="onFontSizeChanged($event.value)"></p-slider>
<p>{{slideValue}}</p>

<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <cv-left-panel></cv-left-panel>
    </div>
    <div class="ui-g-9">
      <cv-right-panel></cv-right-panel>
    </div>
  </div>
</div>
-->
