@import "../../../styles/variables";

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: calc(100vh - 101px)
}

a {
  text-transform: uppercase;
  color: $cl_colorful;
}
