@import "../../../../styles/variables";
@import "../../../../styles/styles";

.contact-container {
  display: flex;
  margin-right: 20px
}

.value-container {
  @extend .value-container;
  margin-left: 40px;
  &:before {
    content: '';
    margin-left: -40px;
    border: 20px solid transparent;
    border-right-color: $cl_content;
  }
  &:after {
    content: '';
    margin-right: -20px;
    border: 20px solid $cl_content;
    border-right-color: transparent;
  }
}
