<div>
  <div class="main-title">
    <h2 class="my-name">{{'leftPanel.name' | translate}}</h2>
    <h3 class="my-specialization">{{'Front End developer' | translate}}</h3>
  </div>

  <p class="block-text about-me">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
    dicta sunt explicabo. Nemo enim ipsam voluptatem. Sed ut perspiciatis unde omnis iste natus error
    sit voluptatem accusantium doloremque laudantium.
  </p>

  <p-panel class="additional-panel" header="Contacts">
    <div class="items-container">
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-contact-item [iconName]="'envelope'" [value]="'oleksandr.i.savych@gmail.com'" ></cv-contact-item>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-contact-item [iconName]="'phone'" [value]="'+38 (063) 584 77 00'" ></cv-contact-item>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-contact-item [iconName]="'map-marker'" [value]="'Kyiv, Ukraine'" ></cv-contact-item>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-contact-item [iconName]="'link'" [value]="'www.google.com'" ></cv-contact-item>
      </div>
    </div>
  </p-panel>

  <div class="additional-panel">
    <p-carousel headerText="Testimonials" [value]="advisers"
                [circular]="'circular'" [numVisible]="1" [pageLinks]="advisers.length">
      <ng-template let-car pTemplate="item">
        <cv-testimonial-item></cv-testimonial-item>
      </ng-template>
    </p-carousel>
  </div>

  <p-panel class="additional-panel" header="Additional information">
    <div class="items-container">
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <cv-check-item [value]="'Ready to relocate'"></cv-check-item>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <cv-check-item [value]="'Fulltime / remote'"></cv-check-item>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <cv-check-item [value]="'Ready for studying'"></cv-check-item>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <cv-check-item [value]="'Permanent overtimes'" [positive]="false"></cv-check-item>
      </div>
    </div>
  </p-panel>

  <p-panel class="additional-panel" header="Interests">
    <div class="interests">
      <div *ngFor="let interest of interests" class="interest">
        <i class="fa fa-3x" [ngClass]="'fa-' + interest.iconName"></i>
        <p>{{interest.label}}</p>
      </div>
    </div>
  </p-panel>
</div>
