<div>
  <div class="main-title">
    <h2 class="my-name">{{'leftPanel.name' | translate}}</h2>
    <h3 class="my-specialization">{{'Front End developer' | translate}}</h3>
  </div>

  <p class="block-text about-me">
    {{'rightPanel.about.summary' | translate}}
    {{'rightPanel.about.objective' | translate}}
  </p>

  <p-panel class="additional-panel" header="{{'rightPanel.about.contacts.contacts' | translate}}">
    <div class="items-container">
      <div *ngFor="let contact of contacts" class="ui-g-12 ui-md-12 ui-lg-6">
        <cv-contact-item [iconName]="contact.iconName" [value]="contact.value | translate"
                         [title]="contact.label | translate"  ></cv-contact-item>
      </div>
    </div>
  </p-panel>

  <div class="additional-panel">
    <p-carousel headerText="{{'rightPanel.about.testimonials.testimonials' | translate}}" [value]="testimonials"
                [circular]="'circular'" [numVisible]="1" [pageLinks]="testimonials.length">
      <ng-template let-testimonial pTemplate="item">
        <cv-testimonial-item [personKey]="testimonial"></cv-testimonial-item>
      </ng-template>
    </p-carousel>
  </div>

  <p-panel class="additional-panel" header="{{'rightPanel.about.additionalInformation.additionalInformation' | translate}}">
    <div class="items-container">
      <div *ngFor="let additionalInformationItem of additionalInformationItems" class="ui-g-12 ui-md-6 ui-lg-3">
        <cv-check-item [value]="additionalInformationItem.key | translate" [positive]="additionalInformationItem.flag"></cv-check-item>
      </div>
    </div>
  </p-panel>

  <p-panel class="additional-panel" header="{{'rightPanel.about.interests.interests' | translate}}">
    <div class="interests">
      <div *ngFor="let interest of interests" class="interest">
        <i class="fa fa-3x" [ngClass]="'fa-' + interest.iconName"></i>
        <p>{{interest.key | translate}}</p>
      </div>
    </div>
  </p-panel>
</div>
