h1 {
  margin: 0;
}
.main-container {
  background-color: #ffffff;
  padding-right: 10px;
  padding-left: 10px;
  display: flow-root;
}
.about-me {
  margin-top: 15px;
  color: #a0a8b4;
}

.contacts-info {
  display: flow-root;
  margin: 10px 0 10px 0;
  div {
    padding: 0;
  }
}

.additional-panel {
  margin: 15px 0 15px 0;
  display: block;
}

.interests {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.interest {
  width: 90px;
  height: 90px;
  border: 2px solid #065e52;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  i {
    color: #065e52;
  }
  p {
    text-transform: uppercase;
    font-size: 0.5em;
    padding-top: 2px;
  }
  &:hover {
    @extend .frame-hover;
  }
}

.frame-hover {
  width: 100px;
  border: 4px solid #065e52;
  cursor: pointer;
  font-weight: 600;
  transition: 0.75s;
}
