<div class="main-container">
  <!--Main title-->
  <div class="main-title">
    <h1>{{'leftPanel.name' | translate}}</h1>
    <h3>{{'Front End developer' | translate}}</h3>
  </div>
  <!--End main title-->
  <!--About me-->
  <div class="about-me">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem. Sed ut perspiciatis unde omnis iste natus error
      sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
    </p>
  </div>
  <!--End about me-->
  <!--Contacts-->
  <div class="contacts-info">
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <cv-info-row *ngFor="let contact of contactDataLocalizationKeys.leftBlock"
                   [data]="{label: 'rightPanel.about.contacts.'+contact+'.label',
                            value: 'rightPanel.about.contacts.'+contact+'.value'}"></cv-info-row>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <cv-info-row *ngFor="let contact of contactDataLocalizationKeys.rightBlock"
                   [data]="{label: 'rightPanel.about.contacts.'+contact+'.label',
                            value: 'rightPanel.about.contacts.'+contact+'.value'}"></cv-info-row>
    </div>
  </div>
  <!--End contacts-->
  <p-carousel headerText="Testimonials" [value]="advisers"
              [circular]="'circular'" [numVisible]="1" [pageLinks]="advisers.length">
    <ng-template let-car pTemplate="item">
      <cv-testimonial-item></cv-testimonial-item>
    </ng-template>
  </p-carousel>

  <p-panel class="additional-panel" header="Interests">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem. Sed ut perspiciatis unde omnis iste natus error
      sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
    </p>
  </p-panel>
</div>
