h1 {
  margin: 0;
}
.main-container {
  background-color: #ffffff;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  div {
    // padding: 2px;
  }
  cv-info-row {
    font-size: smaller;
    padding: 2px;
  }
}
.about-me {
  margin-top: 15px;
  color: #a0a8b4;
}

.contacts-info {
  display: flow-root;
}

.additional-panel {
  margin: 15px 0 15px 0;
  display: block;
}

.interests {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px 10px 20px;
}

.interest {
  width: 110px;
  height: 110px;
  margin-right: 10px;
  border: 2px solid #065e52;
}
