.period-container {
  .period-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  height: 100%;
  background-color: #ebedf0;
  border-top: 1px solid #065e52;
  border-bottom: 1px solid #065e52;
  padding-left: 5px;
  transition-duration: 0.7s;
  &:hover {
    background-color: #ffffff;
    transition-duration: 0.7s;
    cursor: pointer;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    cv-block-title {
      visibility: hidden;
    }
  }
}

.date-info {
  display: flex;
  margin: 0 5px 0 0;
  span {
    text-align: center;
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
  }
}


