<div class="main-container">
  <div class="ui-g-3 ui-md-3 ui-lg-2">
    <cv-period-item [from]="2015" [to]="2017"></cv-period-item>
  </div>
  <div class="no-padding-block ui-g-1 ui-md-1 ui-lg-1">
    <cv-period-divider></cv-period-divider>
  </div>
  <div class="ui-g-8 ui-md-8 ui-lg-9">
    <div class="block-panel">
      <div>
        <cv-block-title [title]="'Grade'" [iconName]="'graduation-cap'"></cv-block-title>
        <p class="uppercase-name">Master</p>
      </div>
      <div>
        <cv-block-title [title]="'Specialization'" [iconName]="'file'"></cv-block-title>
        <p class="uppercase-name">IT of design</p>
      </div>
    </div>
    <div class="block-panel">
      <div>
        <cv-block-title [title]="'University'" [iconName]="'university'"></cv-block-title>
        <p class="uppercase-name">Kyiv National University of Construction and Architecture</p>
      </div>
      <div>
        <cv-block-title [title]="'Mark'" [iconName]="'sort-numeric-asc'"></cv-block-title>
        <p class="uppercase-name">4.7</p>
      </div>

    </div>
    <cv-block-title [title]="'Description'" [iconName]="'comment'"></cv-block-title>
    <p class="block-text">
      Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore
      veritatis et quasi architecto beatae vitae dicta sunt explicabo
    </p>
  </div>
</div>
