<div class="main-container">
  <div class="ui-g-3 ui-md-3 ui-lg-2">
    <cv-block-title [title]="'Period'" [iconName]="'calendar'"></cv-block-title>
    <div class="date-info">
      <span>Sept 2015</span>
      <span>&nbsp;-&nbsp;</span>
      <span>Nov 2015</span>
    </div>
  </div>
  <div class="vertical-text ui-g-1 ui-md-1 ui-lg-1">
    <i class="fa fa-dot-circle-o"></i>
    <span class="vertical-line"></span>
  </div>
  <div class="ui-g-8 ui-md-8 ui-lg-9">
    <div class="top-panel">
      <div>
        <cv-block-title [title]="'Position'" [iconName]="'briefcase'"></cv-block-title>
        <p class="uppercase-name">Web developer</p>
      </div>
      <div>
        <cv-block-title [title]="'Company'" [iconName]="'building'"></cv-block-title>
        <p class="uppercase-name">Terrasoft</p>
      </div>
    </div>
    <div>
      <cv-block-title [title]="'Responsibilities'" [iconName]="'list'"></cv-block-title>
      <p class="block-text">
        Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo
      </p>
      <cv-block-title [title]="'Technologies'" [iconName]="'wrench'"></cv-block-title>
      <p class="block-text">
        Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo
      </p>
    </div>
  </div>
</div>
