.main-container {
  background-color: #ffffff;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
}

.date-info {
  display: flex;
  margin-top: 5px;
  span {
    text-align: center;
    font-size: 0.5em;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.vertical-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
}

.top-panel {
  display: flex;
  justify-content: space-between;
}
.vertical-line {
  display: inline-block;
  background: linear-gradient(#ffffff, #33373d, #065e52, #ffffff);
  width: 10px;
  height: 100%;
  margin-top: 3px;
}

