.main-container {
  display: flex;
  margin-right: 20px
}

.icon-container {
  color: #ffffff;
  padding: 10px;
  background-color: #065e52;
  &:hover {
    cursor: pointer;
    color: #065e52;
    background-color: #ffffff;
    transition-duration: 0.5s;
  }
  i {
    width: 20px;
    height: 20px;
    text-align: center
  }
}

.value-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  font-size: 0.75em;
  background-color: #f3f4f7;
  margin-left: 5px;
  color: #065e52;
  text-transform: uppercase;
  span {
    width: 100%;
    text-align: center;
  }
}
